<h1>Nouvelle commande passée</h1>

<p><strong><%= @user.email %></strong> vient de passer une commande !</p>

<ul>
  <% @order.order_products.each do |op| %>
    <li><%= op.product.title %> — <%= number_to_currency(op.product.price, unit: "€") %></li>
  <% end %>
</ul>

<p><strong>Total : <%= number_to_currency(@order.total_cents / 100.0, unit: "€") %></strong></p>
