<% if notice %>
  <div class="alert alert-success" role="alert">
    <%= notice %>
  </div>
<% end %>

<% content_for :title, "Orders" %>

<h1 class="mb-4">Commandes</h1>

<div id="orders" class="row g-3">
  <% @orders.each do |order| %>
    <div class="col-md-6 col-lg-4">
      <%= render order %>
    
    </div>
  <% end %>
</div>

