<div class="container mt-5">
  <h2 class="mb-4">✏️ Modifier le Produit</h2>
  <%= render 'form', product: @product %>
  <%= link_to '⬅️ Retour', admin_products_path, class: 'btn btn-secondary mt-3' %>
</div>
