
.btn-vert-canard {
  background-color: #0097b2; /* vert canard */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.btn-vert-canard:hover {
  background-color: #0097b2; /* vert canard foncé */
  color: white;
  text-decoration: none;
}
.btn {
  background-color: #0097b2 !important;
  color: white !important;
  border: none !important;
}

.btn:hover {
  background-color: #0097b2!important;
  color: white !important;
}

