
.custom-navbar-bg {
  background-color: #7eaaa8;
}
.navbar .nav-link:hover {
  background-color: #6c8886;
  border-radius: 0.5rem;
  color: #69bbc5 !important;
  transition: background-color 0.3s ease;
}

.hero-banner {
  position: relative;
  color: white;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
}
.slogan-text {
  font-weight: bold;
  font-size: 1.2rem;
  color: #e0f3f5;
  animation: slide 20s linear infinite;
}
@keyframes slide {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

.flash {
  padding: 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  animation: fadeOut 5s forwards;
}

.alert-papillon-info {
  background-color: #e3f2fd;
  color: #00796b;
}

/* Animation fadeOut */
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
    height: 0;
    padding: 0;
    margin: 0;
  }
}

/* Application de l'animation */
.flash-message {
  animation: fadeOut 5s forwards;
}

/* Styles personnalisés (optionnels si déjà dans Bootstrap) */
.alert-papillon-success {
  background-color: #e0f7fa;
  color: #00796b;
}

.alert-papillon-error {
  background-color: #ffebee;
  color: #c62828;
}



